@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    /* Background */
    --bg-gradient-1: #d8d8d8;
    --bg-gradient-2: #b9b9b9;

    /* Text color */
    --text-color: #000000;

    /* Accents */
    --primary-color: #96cde0ce;
    --secondary-color: #7db3c5d6;
    --accent-color: #eb4545;
    --navbar-color: #797979;
    --progress-gradient1: #1b5096;
    --progress-gradient2: #45a0eb;

    /* Hover Effects */
    --btn-hover: #3636f069;
    --link-hover: #2ab9e9;

    /* Shadows */
    --shadow-1: 0px 2px 4px #313131;
    --shadow-2: 0px 4px 8px #3a3a3a;
}

.darkMode{
    /* Background */
    --bg-gradient-1: #202020;
    --bg-gradient-2: #333333;

    /* Text color */
    --text-color: #ffffff;

    /* Accents */
    --primary-color: #232f33ce;
    --secondary-color: #4d3527;
    --accent-color: #eb4545;
    --navbar-color: #292929;
    --progress-gradient1: #961b1b;
    --progress-gradient2: #eb4545;

    /* Hover Effects */
    --btn-hover: #3636f069;
    --link-hover: #2ab9e9;

    /* Shadows */
    --shadow-1: 0px 2px 4px #313131;
    --shadow-2: 0px 4px 8px #3a3a3a;
}

body {
    background: linear-gradient(to right, var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-1));
    color: var(--text-color);
    overflow-x: hidden;
}

#navbar{
    background-color: var(--navbar-color);
}